@import "variables.less";
@import "mixins.less";
.mailIntegrationSettings {
  .settingMailDrawer {
    .v-counter.theme--light {
      position: absolute;
      top: 66px;
      right: 2px;
    }
  }
}