@import "variables.less";
@import "mixins.less";
.mailIntegrationSettingDrawer {
  .v-text-field__details {
    display: flex !important;
  }
}
.VuetifyApp {
  #mailIntegrationNotifDrawer {
    .mailIntegrationNotificationItems {
      font-family: Helvetica, arial, sans-serif;
      .messageReceivedText {
        font-size: 14px;
      }
      .messageSubject {
        font-size: 12px;
        color: @textLightColor;
      }
      .senderMail {
        font-size: 14px;
        font-weight: bold;
      }
      .sendDate {
        font-size: 12px;
        display: inline-flex;
      }
      .attachmentIcon {
        transform: rotate(-45deg);
      }
    }
  }
}